<!doctype html>
<html lang="en" ng-app="docsApp" ng-controller="DocsController as Docs">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="Description"
        content="smeans.js - S-Means clustering in JavaScript">
  <meta name="fragment" content="!">
  <title>smeans.js</title>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.7/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.7/angular-route.min.js"></script>

  <script type="text/javascript">
    // dynamically add base tag as well as css and javascript files.
    // we can't add css/js the usual way, because some browsers (FF) eagerly prefetch resources
    // before the base attribute is added, causing 404 and terribly slow loading of the docs app.
    (function() {
      var indexFile = (location.pathname.match(/\/(index[^\.]*\.html)/) || ['', ''])[1],
          rUrl = /(#!\/|api|guide|misc|tutorial|error|index[^\.]*\.html).*$/,
          baseUrl = location.href.replace(rUrl, indexFile),
          production = location.hostname === 'docs.angularjs.org',
          headEl = document.getElementsByTagName('head')[0],
          sync = true;

      addTag('base', {href: baseUrl});

      addTag('link', {rel: 'stylesheet', href: 'css/docs.css', type: 'text/css'});
      

      addTag('script', {src: 'components/google-code-prettify/src/prettify.js' }, sync);
      addTag('script', {src: 'components/google-code-prettify/src/lang-css.js' }, sync);
      addTag('script', {src: 'js/nav-data.js' }, sync);
      addTag('script', {src: 'js/pages-data.js' }, sync);
      addTag('script', {src: 'js/docs-bootstrap.js' }, sync);
      addTag('script', {src: 'js/docs.js' }, sync);
      addTag('script', {src: 'js/smeans.js' }, sync);
      

      function addTag(name, attributes, sync) {
        var el = document.createElement(name),
            attrName;

        for (attrName in attributes) {
          el.setAttribute(attrName, attributes[attrName]);
        }

        sync ? document.write(outerHTML(el)) : headEl.appendChild(el);
      }

      function outerHTML(node){
        // if IE, Chrome take the internal method otherwise build one
        return node.outerHTML || (
            function(n){
                var div = document.createElement('div'), h;
                div.appendChild(n);
                h = div.innerHTML;
                div = null;
                return h;
            })(node);
      }
    })();
  </script>
</head>
<body>
  <header>
    <section class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">smeans.js</a>
        </div>
      </div>
    </section>
  </header>

  <section role="main" class="container">
    <div class="row">
      <div class="sidebar col-md-4">
        <input type="text" class="form-control" placeholder="Search..." ng-model="docFilter">

        <br>

        <div ng-repeat="nav in NAV_DATA | orderObjectBy:'name':true">
          <div class="list-group">
            <div class="list-group-item"><strong>{{ nav.name }}</strong></div>
            <!-- <li class="list-group-item" ng-repeat="doc in nav.pages | filter:docFilter"> -->
              <!-- <a href="#" ng-click="Docs.include(doc.path)">{{ doc.name }}</a> -->
            <a class="list-group-item doc-link"
              ng-repeat="doc in nav.pages | filter:docFilter"
              ng-href="#/doc/{{ doc.path }}"
              ng-class="Docs.linkClass(doc)">
              {{ doc.name }}
            </a>
            <!-- </li> -->
          </div>
        </div>

      </div>
      <div class="view col-md-8" ng-view>

      </div>
    </div>
  </section>

  <footer class="footer">
    
  </footer>

  <script type="text/ng-template" id="/partials/index.html">
    <h1>Hello!</h1>
  </script>
</body>
</html>